<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header class="page-header">
            <nav class="navbar navbar-expand-lg justify-content-between">
                <a href="/" class="navbar-brand main-logo main-logo-smaller">
                    POWIEDZMY ŻE MONEY MANAGER
                </a>
                <ul class="nav nounderline text-uppercase">
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/about">o aplikacji</a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="/contact">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
             <div class="row">
                 <div class="col-3">
                     <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="/">Wpisy</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/stats">Statystyki</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/accounts">Konta</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/categories">Kategorie</a>
                          </li>
                      </ul>
                      <div>
                        <ul>
                          {% for account_cp in accounts_cp %}
                              <li>Konto: {{ account_cp.name }}</li>
                              <li>Saldo: {{ account_cp.cash_amount }} PLN</li>
                              Ostatnie operacje:
                              <ol>
                                {% for entry_cp in entries_cp %}
                                    {% if account_cp.id == entry_cp.account.id %}
                                        <li>{{ entry_cp.date }} -- {{ entry_cp.amount }}</li>
                                    {% endif %}
                                {% endfor %}
                              </ol>
                          {% endfor %}
                        </ul>
                      </div>
                    </nav>
                </div>
                <div class="col-9">
                    {% block content %}
                    {% endblock %}
                </div>
             </div>
        </section>
    </div>
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>